In [1]:
print ("Hello World")

Hello World

In [2]:
print('Hello Python!')

Hello Python!

In [40]:
print('Asra's is a good girl.')

SyntaxError: invalid syntax (<ipython-input-40-3938cc99f7ef>, line 1)

In [3]:
message = 'Dhoraji Association Karachi'
print(message)

Dhoraji Association Karachi

In [4]:
name = "Shahzad Ahsan"
name = 'Muhammad Ali'
print(name)

Muhammad Ali

In [2]:
message = "Good Evening"
print(message)
message = 'How are you all?'
print(message)

Good Evening
How are you all?

In [3]:
print(message)

How are you all?

In [4]:
First_name = "muhammad"
print(First_name.title())

Muhammad

In [5]:
First_name = 'HaMZa'
print(First_name.lower())

hamza

In [6]:
last_name = "khan"
print(last_name.upper())

KHAN

In [7]:
number = 120
print(number)

120

In [41]:
n = 54.98
print(n)

54.98

In [9]:
num_1 = 200 
print(num_1 + 20)

220

In [42]:
num_1 = 20
num_2 = 35.78
num_3 = 40
print(num_1 + num_2 + num_3)

95.78

In [43]:
original_number = 15
new_number = 20
total = original_number * new_number
print(total)

300

In [11]:
num1 = 20
num2 = 50
new_num = num1 + num2 - 30
print(new_num)

40

In [45]:
num1 = 10
num2 = 5
num3 = 2
num4 = 4
num5 = 5
num6 = 1
total = (num1 * num2) + (num3 * num4) - num6 
print(total)
print(type(total))

57
<class 'int'>

In [13]:
num = 10
another_num = 1.5
total = num + another_num
print(total)
print(type(total))

11.5
<class 'float'>

In [47]:
FirstName = 'syEd'
MiddleName = 'zohAib'
LastName = 'owAiS'
full_name = FirstName + ' '+ MiddleName + ' ' + LastName
print(full_name)
print(full_name.title())
print(full_name.lower())
print(full_name.upper())

syEd zohAib owAiS
Syed Zohaib Owais
syed zohaib owais
SYED ZOHAIB OWAIS

In [25]:
name = 'Ahsan'
num = 3
total = name +' '+ str(num)
print(total)

Ahsan 3

In [27]:
F_name =  ' Shahzad'
L_name = 'Ahsan'
Full_name = F_name + " " + L_name
print("Hello"+ '' +", How are you" + Full_name + " ? ")

Hello, How are you Shahzad Ahsan ?

In [28]:
print("Hello , How are you" + Full_name.upper() + " ? ")

Hello , How are you SHAHZAD AHSAN ?

In [28]:
whats_left_over = 10 % 3
print(whats_left_over)

1

In [29]:
whats_left_over = 9 % 3
print(whats_left_over)

0

In [29]:
age = 2
age = age + 1
#age += 1
print(age)

3

In [31]:
age = 12
age += 5
print(age)

17

In [33]:
age = 12
age -= 2
print(age)

10

In [36]:
age = 12
age *= 3
print(age)

36

In [37]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
message = "Hello, " + full_name.title() + "!"
print(message)

Hello, Ada Lovelace!

In [35]:
 print("Languages:\nPython\nRuby\nJavaScript")

Languages:
Python
Ruby
JavaScript

In [37]:
print("Languages:\n\tPython\n\t\t\t\t\tC\n\tJavaScript")

Languages:
	Python
					C
	JavaScript