In [1]:
dict1 = {'name':'Adnan' , 'Country':'Australia'}
print(dict1)

{'name': 'Adnan', 'Country': 'Australia'}

In [3]:
dict1['name']

'Adnan'

In [4]:
dict1['Country']

'Australia'

In [5]:
name = {}
name['Ali']='Khan'
name['Hamza'] = 'Ali khan'
name['nasir'] = 'Hussain'

In [6]:
name

{'Ali': 'Khan', 'Hamza': 'Ali khan', 'nasir': 'Hussain'}

In [7]:
country={'Pakistan':'Dubai' , 'India':'Bombay'}
country['UAE']='Dubai'
country['Australia'] = 'Canberra'

In [14]:
country.pop('UAE')

'Dubai'

In [15]:
country

{'Australia': 'Canberra', 'India': 'Bombay', 'Pakistan': 'Karachi'}

In [17]:
print('I love to go to' , country['Pakistan'].upper())

I love to go to KARACHI

In [18]:
players = {'Watson':'Australian International Cricketer'}
print("Shane Robert Watson is a " + players['Watson'] + '.')

Shane Robert Watson is a Australian International Cricketer.

In [19]:
friends = {'Umer':'najeeb' , 'Bilal':'Uddin'}
del friends['Bilal']

In [20]:
friends

{'Umer': 'najeeb'}

In [22]:
friends_name = name.copy()

In [29]:
friends_name['Sheharyar'] = 'Zafar'
friends_name['Azhar'] = 'Zafar'
friends_name['Hamza'] = 'Ahsan'

In [30]:
friends_name

{'Ali': 'Khan',
 'Azhar': 'Zafar',
 'Hamza': 'Ahsan',
 'Sheharyar': 'Zafar',
 'nasir': 'Hussain'}

In [31]:
friends_name

{'Ali': 'Khan',
 'Azhar': 'Zafar',
 'Hamza': 'Ahsan',
 'Sheharyar': 'Zafar',
 'nasir': 'Hussain'}

In [46]:
for keys in friends_name.keys():
    print(keys)

Ali
Hamza
nasir
Sheharyar
Azhar

In [37]:
type(names)

str

In [45]:
names.count()

TypeError: count() takes at least 1 argument (0 given)

In [47]:
for value in friends_name.values():
    print(value)

Khan
Ahsan
Hussain
Zafar
Zafar

In [53]:
for k , v in friends_name.items():
    print('Keys:' , k)
    print('Value:' , v , '\n')

Keys: Ali
Value: Khan

Keys: Hamza
Value: Ahsan

Keys: nasir
Value: Hussain

Keys: Sheharyar
Value: Zafar

Keys: Azhar
Value: Zafar

In [55]:
def name():
    print(5+3)

In [56]:
name()

8

In [57]:
name()

8

In [58]:
name()

8

In [60]:
def num(a):
    print(a*2)

In [61]:
num(6)

12

In [62]:
def mult(a , b):
    print(a ** b)

In [63]:
mult(4 , 2)

16

In [67]:
def couple(hname , wife):
    print('The name of husband is ' , hname.upper() , 'and the name of wife is ' , wife.upper() , '....')

In [68]:
couple('ali' , 'rabia')

The name of husband is  ALI and the name of wife is  RABIA ....

In [69]:
couple('amna' , 'ammar')

The name of husband is  AMNA and the name of wife is  AMMAR ....

In [72]:
couple('owais' , wife='fatima')

The name of husband is  OWAIS and the name of wife is  FATIMA ....

In [73]:
couple(wife='tooba' , hname='umer')

The name of husband is  UMER and the name of wife is  TOOBA ....

In [80]:
def couple1(hname , wname , son = 'hamza'):
    print('The name of husband is ' , hname.upper() , 'and the name of wife is ' , \
          wname.upper() , 'and the name of son is ' , son)

SyntaxError: non-default argument follows default argument (<ipython-input-80-144c556275bf>, line 1)

In [82]:
couple1('Azhar' , 'laiba' , 'saif' , 'bhg' , 'jvgx' )

TypeError: couple1() takes from 2 to 3 positional arguments but 5 were given

In [81]:
def fruits(abc):
    for a in abc:
        print(a)
        
x = fruits(['apple' , 'banana'])

apple
banana

In [85]:
def drinks(drink , *cold):
    print('I want to drink ' , drink , '\n and i want for my home' ,cold)

In [88]:
drinks('Coca cola' , 'Spirit' , 'Fanta' , 'Pakola' , 'HWFEF')

I want to drink  Coca cola
 and i want for my home ('Spirit', 'Fanta', 'Pakola', 'HWFEF')